/* components/ui/skeuo/drawer/SkeuoDrawerViewPublic/UserContentDrawer/UserContentDrawer.css */

.scrollbar-none {
  -ms-overflow-style: none;      /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none; /* Fallback for older browsers */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}